* {
  padding: 0;
  margin: 0;
}
body {
  background-color: lightgrey;
}
.nav {
  width: auto;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.login {
  width: 1000px;
  height: auto;
  display: flex;
  margin-top: 50px;
  margin-left: 20%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 139, 1);
  -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 139, 0.8);
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 139, 1);
}
.login .logo {
  width: 40%;
  margin: auto;
}
.login .cred {
  width: 50%;
  margin: auto;
  padding: 2%;
}
.captcha {
  display: flex;
  justify-content: space-between;
}
.captcha label {
  font-size: 20px;
}
.captcha .preview {
  color: #555;
  width: 200px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  letter-spacing: 8px;
  border: 1px solid #888;
  font-family: "monospace";
  display: inline-block;
}
#first_name {
  height: 40px;
  width: 45%;
}
#last_name {
  height: 40px;
  width: 45%;
}
#mail {
  height: 40px;
  width: 45%;
}
#category {
  height: 40px;
  width: 45%;
}
#password {
  height: 40px;
  width: 45%;
}
#new_password {
  height: 40px;
  width: 45%;
}
#captcha-input {
  height: 40px;
  width: 200px;
}
.captcha-refresh {
  height: 40px;
  width: 40px;
  margin-right: 40px;
}
.preview span {
  display: inline-block;
  user-select: none;
}
.para_tag1 {
  color: red;
}
.para_tag2 {
  color: blue;
}
#register {
  height: 30px;
  width: 70px;
  background-color: rgb(69, 69, 199);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#login_here {
  height: 30px;
  width: 80px;
  background-color: rgb(84, 238, 84);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
h2 {
  margin-left: 47px;
  color: green;
  font-size: xx-large;
}
@media (max-width: 1000px) {
  .login {
    width: 800px;
    height: auto;
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 139, 1);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 139, 0.8);
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 139, 1);
    flex-wrap: wrap;
    flex-direction: column;
  }
  h2 {
    color: green;
    font-size: xx-large;
    margin-left: 0;
  }
}
